.currentPage{
  color: #F13c20;
  border: solid black 3px;
  border-radius: 20px;
  text-decoration: underline;
  text-decoration-color: #F13c20;
}

li{
  font-size: 20px;
}

ul{
  color: #F13c20!important;
}

.warn{
  color:#F13c20
}

/* .container{
  width: 40%
} */

a{
  text-decoration: none!important;
  opacity: 80%;
}

a:hover{
  opacity: 100%;
}

.container img{
  object-fit: cover;
  opacity: 70%;
}

/* Backround images for project divs */

#project{
  height: 300px;
}

.title{
  color: #4346aa;
  text-decoration: none!important;
  background-color: #6a5e46;
}

header, footer{
  background-color: #6a5e46;
}

